<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNIVESP IA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <img src="{{ url_for('static', filename='images/logo-univesp_simplificado_cor-negativo.png') }}" alt="logo" width="350" height="100">
                <h1>Inteligência Farmacêutica</h1>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Página Inicial</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/chat-options">Converse com a nossa IA</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<main class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h2>Selecione o medicamento:</h2>
            <form action="/chat" method="POST">
                <div class="form-group">
                    <select class="form-control" name="medicine">
                        <option value="losartana">Losartana</option>
                        <option value="roacutan">Roacutan</option>
                        <option value="amoxicilina">Amoxicilina</option>
                        <option value="azitromicina">Azitromicina</option>
                        <option value="ozempic">Ozempic</option>
                        <option value="canabidiol">Canabidiol</option>
                        <option value="fluoxetina">Fluoxetina</option>
                        <option value="neo-fidipina">Neo-Fidipina</option>
                        <option value="tadala">Tadala</option>
                    </select>
                </div>
                <button type="submit">Iniciar Chat</button>
            </form>
        </div>
    </div>
</main>
<footer class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Contato</h3>
                <p>Entre em contato conosco através dos Emails: 2101355@aluno.univesp.br, 2106972@aluno.univesp.br 2110167@aluno.univesp.br</p>
            </div>
            <div class="col-md-4">
                <h3>Links Uteis</h3>
                <ul>
                    <li><a href="https://github.com/vitor-ozols/UNIVESP_PI3_RAG_MEDICINE">Github</a></li>
                    <li><a href="/chat-options">Converse com a nossa IA</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Sobre Nós</h3>
                <p>Utilizamos inteligência artificial avançada e tecnologias de cloud computing para proporcionar informações claras e acessíveis sobre posologia, interações e efeitos colaterais, garantindo acessibilidade e segurança para todos os usuários.</p>
            </div>
        </div>
    </div>
</footer>
<script>
    $(document).ready(function() {
        // Aplica a máscara de entrada para o campo de telefone
        $('#telefone').inputmask("(99) 99999-9999");
    });
</script>
</body>
</html>